In [1]:
import pandas as pd
import numpy as np
import re

In [4]:
file_path = r'./reviews.csv'

df = pd.read_csv(file_path, encoding='utf-8')
# df = pd.read_excel(file_path, engine='openpyxl')

In [5]:
df.head(5)

,Username,Location,Date,Reviews,Rating,Review Titles
0,Emma,GB,2024-10-01T10:14:48.000Z,Effective and communicative Effective and comm...,5,Effective and communicative
1,Doina Serban,GB,2024-09-25T22:46:14.000Z,"Good quality, easy accessFirst of all, it is e...",5,"Good quality, easy access"
2,Celia,CA,2024-09-18T01:22:00.000Z,A repeat customer!It's so easy to purchase thi...,5,A repeat customer!
3,Yvonne Buhrmann,ID,2024-09-13T01:51:51.000Z,No one can actually help you or knows whats go...,2,No one can actually help you or knows whats go...
4,Steve,US,2024-08-22T17:00:16.000Z,"I use HeymondoI use Heymondo, and made a claim...",4,I use Heymondo

In [6]:
Date_Column = df['Date']
Date_Column.head()

0    2024-10-01T10:14:48.000Z
1    2024-09-25T22:46:14.000Z
2    2024-09-18T01:22:00.000Z
3    2024-09-13T01:51:51.000Z
4    2024-08-22T17:00:16.000Z
Name: Date, dtype: object

In [7]:
# Convert 'Review Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Create a new column 'Date' with the format DD:MM:YYYY
df['Formatted Date'] = df['Date'].dt.strftime('%d:%m:%Y')

# Display the first few rows to verify
print(df[['Date', 'Formatted Date']].head())

                       Date Formatted Date
0 2024-10-01 10:14:48+00:00     01:10:2024
1 2024-09-25 22:46:14+00:00     25:09:2024
2 2024-09-18 01:22:00+00:00     18:09:2024
3 2024-09-13 01:51:51+00:00     13:09:2024
4 2024-08-22 17:00:16+00:00     22:08:2024

In [8]:
import re
import pandas as pd
# Function to remove all emojis and special characters
def clean_text(text):
    if not isinstance(text, str):  # Check if text is a string
        return ''  # Return empty string for NaN or non-string types
    # Remove emojis
    emoji_pattern = re.compile(
        "[\U0001F600-\U0001F64F"  # emoticons
        "\U0001F300-\U0001F5FF"  # symbols & pictographs
        "\U0001F680-\U0001F6FF"  # transport & map symbols
        "\U0001F700-\U0001F77F"  # alchemical symbols
        "\U0001F780-\U0001F7FF"  # Geometric Shapes Extended
        "\U0001F800-\U0001F8FF"  # Supplemental Arrows-C
        "\U0001F900-\U0001F9FF"  # Supplemental Symbols and Pictographs
        "\U0001FA00-\U0001FA6F"  # Chess Symbols
        "\U00002702-\U000027B0"  # Dingbats
        "\U000024C2-\U0001F251"  # Enclosed Characters
        "]+",
        flags=re.UNICODE
    )
    # Remove all emojis
    text = emoji_pattern.sub('', text)
    # Remove all special characters, keeping only alphanumeric characters and spaces
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)
    return text

In [9]:
# Apply the clean_text function to the 'Review' column and save the result back to the same column
df['Reviews'] = df['Reviews'].apply(clean_text)
# Display the first few rows to verify
print(df['Reviews'].head())

0    Effective and communicative Effective and comm...
1    Good quality easy accessFirst of all it is eas...
2    A repeat customerIts so easy to purchase this ...
3    No one can actually help you or knows whats go...
4    I use HeymondoI use Heymondo and made a claim ...
Name: Reviews, dtype: object

In [10]:
df.head()

,Username,Location,Date,Reviews,Rating,Review Titles,Formatted Date
0,Emma,GB,2024-10-01 10:14:48+00:00,Effective and communicative Effective and comm...,5,Effective and communicative,01:10:2024
1,Doina Serban,GB,2024-09-25 22:46:14+00:00,Good quality easy accessFirst of all it is eas...,5,"Good quality, easy access",25:09:2024
2,Celia,CA,2024-09-18 01:22:00+00:00,A repeat customerIts so easy to purchase this ...,5,A repeat customer!,18:09:2024
3,Yvonne Buhrmann,ID,2024-09-13 01:51:51+00:00,No one can actually help you or knows whats go...,2,No one can actually help you or knows whats go...,13:09:2024
4,Steve,US,2024-08-22 17:00:16+00:00,I use HeymondoI use Heymondo and made a claim ...,4,I use Heymondo,22:08:2024

In [12]:
# Convert 'Review Date' to timezone-unaware datetime
df['Date'] = pd.to_datetime(df['Date']).dt.tz_localize(None)

# Save the DataFrame as an Excel file
df.to_excel('Trustpilot_Vishal_Booking_cleaned_data_v2.xlsx', index=False)

In [13]:
df.rename(columns={
    'Username': 'Reviewer Name',
    'Location': 'Location',
    'Date': 'Review Date',
    'Reviews': 'Review',
    'Rating': 'Rating',
    'Review Titles': 'Review Title'
}, inplace=True)

In [14]:
df.head()

,Reviewer Name,Location,Review Date,Review,Rating,Review Title,Formatted Date
0,Emma,GB,2024-10-01 10:14:48,Effective and communicative Effective and comm...,5,Effective and communicative,01:10:2024
1,Doina Serban,GB,2024-09-25 22:46:14,Good quality easy accessFirst of all it is eas...,5,"Good quality, easy access",25:09:2024
2,Celia,CA,2024-09-18 01:22:00,A repeat customerIts so easy to purchase this ...,5,A repeat customer!,18:09:2024
3,Yvonne Buhrmann,ID,2024-09-13 01:51:51,No one can actually help you or knows whats go...,2,No one can actually help you or knows whats go...,13:09:2024
4,Steve,US,2024-08-22 17:00:16,I use HeymondoI use Heymondo and made a claim ...,4,I use Heymondo,22:08:2024